.header-block {
    width: 100%;
    padding: 40px 0px;
}
.header {
    display: flex;
    justify-content: space-between;
    z-index: 999;
    position: relative;
    align-items: center;
		&__logo {
            a svg path {
                transition: fill 0.3s;
            }
        }

        &__logo:hover {
            .header__logo-color-1 {
                fill: #5D626A;
            }
            .header__logo-color-2 {
                fill: #F2353F;
            }
            .header__logo-color-3 {
                font: #1F2C37;
            }
        }

		&__info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include laptop {
            }
        }

		&__contact-number {
            font-family: 'TTNorms-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 100%;
            margin-right: 100px;
        }

		&__leave-request {}

		&__button-leave-request {
            border: none;
            background: none;
        }
}

.header__burger-menu {
    z-index: 0;
    display: block;
    position: fixed;
    width: 24px;
    padding: 7px 0px;
    cursor: pointer;
    left: 45px;
    top: 45px;

    @include laptop {
        left: 25px;
        right: 25px;
    }
}


.header__burger-menu span,
.header__burger-menu::before,
.header__burger-menu::after
{
    left: 0;
    position: absolute;
    height: 15%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $color-1;
}

.header__burger-menu span {
    width: 60%;
}

.header__burger-menu::after {
    width: 85%;
}

.header__burger-menu::before,
.header__burger-menu::after
{
    content: "";
}
.header__burger-menu::before
{
    top: 0;
}
.header__burger-menu::after
{
    bottom: 0;
}
.header__burger-menu span
{
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.header__burger-menu._active span
{
    transform: scale(0) translate(0px, -50%);
}
.header__burger-menu._active::before
{
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
}
.header__burger-menu._active::after
{
    width: 100%;
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
}

.header__burger-menu:hover {
    span,
    &::before,
    &::after {
        background-color: $color-6;
    }
}

.header {
    &__burger-list {
        width: 100%;
        display: flex;
        height: 450px;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 100;
        background: #ffffff;
        left: -100%;
        transition: left 0.7s;
        margin: 0 auto;
    }

    &__burger-list._active {
        left: 0;
    }

    &__navigation-menu {
        margin: 100px auto 50px auto;
        width: 100%;
        display: block;

        a {
            font-size: 26px;
        }
    }
}