.header-theme-block {
    width: 100%;
    margin-top: 100px;
}
.header-theme {
    display: flex;
    flex-direction: column;

		&__tagline {
            display: flex;
            justify-content: space-between;

            @include mobile-l{
                flex-direction: column;
                align-items: center;
            }
        }

		&__header {
            font-family: 'TTNorms-Medium';
            font-style: normal;
            font-weight: 500;
            font-size: 45px;
            line-height: 120%;

            @include mobile-l {
                font-size: 32px;
            }
        }

		&__sub-header {
            width: 50%;
            font-family: 'TTNorms-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;

            @include mobile-l {
                width: 100%;
                text-align: center;
            }
        }

		&__image {
            margin-top: 135px;
            position: absolute;
            img {
                @include small-desktop {
                    width: 100%;
                }
            }

            @include mobile-l {
                display: none;
            }
        }

		&__advantages {
            margin-top: 450px;
            padding: 470px 0px 150px 0px;
            position: relative;

            @include laptop {
                padding-top: 200px;
                display: flex;
                justify-content: center;
            }

            @include tablet{
                padding-top: 100px;

                .cards-advantages {
                    &__card {
                        width: 250px;
                    }
                }
            }

            @include mobile-l {
                padding-top: 0;
                margin-top: 50px;
            }
        }
}