@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
  font-weight: #{$weight};
  font-style: #{$style};
  }
}

@mixin mobile-s {
  @media screen and (max-width: 321px) {
    @content;
  }
}

@mixin mobile-m {
  @media screen and (max-width: 376px) {
    @content;
  }
}

@mixin mobile-l { 
  @media screen and (max-width: 426px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 769px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1025px) {
    @content;
  }
}

@mixin small-desktop {
  @media screen and (max-width: 1441px) {
    @content;
  }
}

@mixin medium-desktop {
  @media screen and (max-width: 1681px) {
    @content;
  }
}

@mixin large-desktop {
  @media screen and (max-width: 1921px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1681px) {
    @content;
  }
}
