*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: #1F2C37;
}

input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    outline: none;
}
  
a {
    text-decoration: none;
    color: inherit;
}
  
li {
    list-style: none;
}

img {
    display: block;
}