.service-page-block {
    width: 100%;
}
.service-page {
    display: flex;
    flex-direction: column;

		&__header {
        }

		&__body {
        }

		&__service-horizontal {
            margin-bottom: 200px;
            display: flex;
            justify-content: space-between;

            img {
                margin-left: 60px;
            }

            @include tablet {
                flex-direction: column;
                align-items: center;

                img {
                    margin: 0;
                    margin-top: 50px;
                }
            }

            @include mobile-l {
                img {
                    width: 100%;
                }
            }
        }

		&__name {
            margin-bottom: 60px;

            font-family: 'TTNorms-Medium';
            font-style: normal;
            font-weight: 500;
            font-size: 37px;
            line-height: 120%;

            width: 50%;

            @include tablet {
                width: 100%;
            }

            @include mobile-l {
                font-size: 28px;
            }

            @include mobile-s {
                font-size: 22px;
            }
        }

		&__description {
            font-family: 'TTNorms-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;

            @include mobile-l {
                font-size: 12px;
            }
        }

		&__image {}

		&__service-vertical {
            margin-bottom: 200px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            img {
                width: 30%;
            }

            .card-text {
                width: 30%;
            }

            @include mobile-l {
                img {
                    width: 100%;
                    margin: 20px 0;
                }

                .card-text {
                    width: 100%;
                    margin: 20px 0;
                }
            }
        }

		&__images {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 80px 0px 100px 0px;
        }

		&__cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
}
.card-text {
    display: flex;
    flex-direction: column;

		&__header {
            margin-bottom: 20px;
            font-family: 'TTNorms-Medium';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
        }

		&__description {
            font-family: 'TTNorms-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }
}
