.service-subservices-block {
    width: 100%;
}
.service-subservices {
    display: flex;
	flex-direction: column;

		&__header {}
		
		&__cards {
			margin-top: 140px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			
        }
		
		&__card {
			margin-bottom: 60px;

			@include mobile-s {
				width: 100%;
			}
		}

		&__logo {
			@include mobile-s {
				img {
					width: 100%;

				}
			}
		}

		&__name {
			margin-top: 20px;

			font-family: 'TTNorms-Bold';
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 100%;
		}
}

.button-next-service-block {
	width: 100%;
}
.button-next-service {
	display: flex;
	justify-content: space-between;
	transition: background-color 0.15s;
	padding: 60px;
	align-items: center;

	@include mobile-s {
		padding: 5px;
		margin-top: 50px;
	}

	@include mobile-l {
		flex-direction: column;
	}
	
		&__type {
			p {
				transition: color 0.15s;
				font-family: 'TTNorms-Regular';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 130%;
			}
		}
		
		&__name-service {
			width: 50%;
			display: flex;
			justify-content: space-between;
			
			p {
				transition: color 0.15s;
				font-family: 'TTNorms-Medium';
				font-style: normal;
				font-weight: 500;
				font-size: 25px;
				line-height: 130%;
			}

			@include mobile-l {
				width: 100%;
				align-items: center;
				margin-top: 20px;

				p {
					font-size: 18px;
				}
			}
		}

		&:hover {
			background-color: $color-6;

			p {
				color: #ffffff;
			}
		}
}
