.header-1{
    font-family: 'TTNorms-Medium';
    font-weight: 500;
    font-size: 45px;
    line-height: 120%; 
}

.header-2{
    font-family: 'TTNorms-Medium';
    font-weight: 500;
    font-size: 37px;
    line-height: 120%; 
}

.header-3{
    font-family: 'TTNorms-Medium';
    font-weight: 500;
    font-size: 25px;
    line-height: 130%; 
}

.header-4{
    font-family: 'TTNorms-Medium';
    font-weight: 500;
    font-size: 20px;
    line-height: 130%; 
}

.text-1{
    font-family: 'TTNorms-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.text-2{
    font-family: 'TTNorms-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}