.our-works-page-block {
}
.our-works-page {

		&__header {
            margin: 100px 0px 100px 0px;
        }

		&__cards {}
}
.cards-works {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    p {
        transition: color 0.15s;
    }

		&__card {
            display: flex;
            flex-direction: column;
            margin: 55px 0px;

            &:hover {
                img {
                    opacity: 0.5;
                    transform: scale(1.05);
                }
                p {
                    color: $color-6;
                }
            }
        }

        &__wide-card {
            margin: 100px 0px;
        }

		&__image {
            background: $color-1;
            overflow: hidden;

            img {
                opacity: 1;
                transition: opacity 124ms linear, transform 124ms linear;
            }
        }

		&__text {}

		&__name {
            margin: 20px 0px 15px 0px;

            font-family: 'TTNorms-Medium';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
        }

		&__type-name {
            font-family: 'TTNorms-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 100%;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            p {
                color: $color-3;
            }
        }
}
