.advantages-block {
    width: 100%;
    @include mobile-l {
        margin: 100px 0px;
    }
}
.advantages {
    display: flex;
    justify-content: space-between;
    padding: 150px 0px;

		&__header p{
            width: 80%;
        }

		&__cards {
        }

    @include laptop {
        flex-wrap: wrap;
        &__cards {
            display: flex;
            justify-content: center;
        }
    }

    @include mobile-l {
        padding: 0 0 100px 0;

        &__header {
            width: 100%;
        }
    }
}
.cards-advantages {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    @include laptop {
        width: 80%;
        justify-content: space-evenly;
    }

    @include mobile-l {
        width: 100%;
    }

    &__card {
        width: 290px;
        padding: 35px 70px;

        @include mobile-m {
            width: 100%;
            padding: 35px 0;
        }
    }

    &__header {
        font-family: 'TTNorms-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 75px;
        line-height: 100%;

        p {
            color: $color-7;
        }
    }

    &__line {
        padding: 17px 0px 20px 0px;
        hr {
            width: 70px;
            background: $color-3;
            border: none;
            height: 2px;
        }
    }

    &__description {
        font-family: 'TTNorms-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }
}
