.partners-block {
    width: 100%;
}
.partners {
    display: flex;
    padding: 175px 0px;
    flex-wrap: wrap;

    @include mobile-l {
        padding: 0px 0px 100px 0px;
    }

		&__header{
            @include laptop {
                width: 30%;
            }

            p {
                width: 60%;
            }
        }

		&__icons {
            width: 40%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @include tablet {
                width: 100%;
            }
        }

        &__row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

		&__icon {
        }

		&__image {
            padding: 40px 50px;
        }

    @include mobile-l {
        flex-direction: column;

        &__header, &__icons {
            width: 100%;
        }

    }
}