.tagline-block {
    width: 100%;

    &__background {
        background-image: url('../../img/home_page/tagline_img.png');
        background-repeat: no-repeat;
        background-size: 100%;
        max-width: 100%;
    
        @include desktop {
            max-width: calc(100% - 100px);
            margin-left: 100px;
            padding-right: 100px;
        }

    }
}
.tagline {
    padding: 30% 0px 50px 0px;
    display: flex;
    justify-content: space-between;
 
    @include mobile-l {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    
    &__text {
        width: 60%;
        p {
            font-family: 'TTNorms-Medium';
            font-style: normal;
            font-weight: 500;
            font-size: 45px;
            line-height: 120%;
            color: $color-5;
        }

        @include tablet {
            width: 50%;
            p {
                font-size: 32px;
            }
        }

        @include mobile-l {
            width: 100%;

            p {
                font-size: 28px;
            }
        }

        @include mobile-s {
            p{
                font-size: 20px;
            }
        }
    }

    &__social-links {
        display: flex;
        flex-direction: column-reverse;
        
        .social-links {
            &__link-text{
                color: $color-5;
            }
            &__logo {
                fill: $color-5 !important;
            }
        }
        
        @include mobile-l{
            margin-top: 10px;
        }
    }
}

#tagline__list li {
    color: $color-5;
}